* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: turquoise;
    color:black;
}

.weather {
    display: flex;
    align-items: center;
    margin: 15px 0;
    font-size: 3.5rem;
    color: black;

}

#location {
    font-size: 5rem;
    font-weight: 800;
    font-style: italic;
    color: black;
}
.desc {
    font-size: 3.25rem;
    text-transform: capitalize;
    color: black;
}

.circle {
    background-color: #1e847f;
    border-radius: 50px;
    height: 15px;
    width: 15px;
    margin: 0 15px;
    color: black;
}